<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
        <!-- favicon -->
        <link rel="icon" type="image/png" href="assets/img/favicon_270x270.png"/>
        <title>proj-html-vuejs</title>
    </head>
    <body>
        <!-- container vue istanza -->
        <div id="app">
            <header>
                <!-- navbar -->
                <div class="navbar d_flex">
                    <img id="logo" src="assets/img/dark_logo.png" alt="">

                    <nav class="nav_menu d_flex">
                        <ul class="menu_list d_flex" v-for="voice in menu">
                            <li class="voice_menu"><a href="">{{voice.voice}}<i class="fas fa-chevron-down"></i></a></li>
                            
                        </ul>

                    </nav>
                    <i class="fas fa-cart-plus"></i>
                    <i class="far fa-user-circle"></i>

                    <form class="search">
                        <input type="text" placeholder="Search..." v-model="search">
                        <i class="fas fa-search"></i> 
                          
                    </form>
                </div>
                <!-- //navbar -->

                <!-- hero section -->
                <div class="hero_overlay d_flex">
                    <div class="title_hero d_flex">

                    </div>
                    <div class="img_hero half_pg_picture">

                    </div>

                </div>
                <!-- //hero section -->
            </header>
            <!-- main container of website -->
            <main>
                <!-- skills section -->
                <section>
                    <div class="main_skill_container">
                        <div class="title_container">

                        </div>
                        <div class="skill_container d_flex">
                            <div class="skill_card d_flex"></div>
                            <div class="skill_card d_flex"></div>
                            <div class="skill_card d_flex"></div>
                            <div class="skill_card d_flex"></div>
                        </div>
                    </div>
                </section>
                <!--//skills section -->

                <!-- quality section -->
                <section>
                    <div class="main_quality_container d_flex">
                        <div class="img_section half_pg_picture"></div>
                        <div class="title_section d_flex"></div>
                    </div>
                </section>
                <!-- //quality section -->

                <!-- data section -->
                <section>
                    <div class="data_row d_flex">
                        <div class="data_card"></div>
                        <div class="data_card"></div>
                        <div class="data_card"></div>
                        <div class="data_card"></div>
                    </div>
                </section>
                <!-- //data section -->

                <!-- courses section -->
                <section>
                    <div class="main_courses_container">
                        <div class="title_container">

                        </div>
                        <div class="courses_container d_flex">
                            <div class="courses_card d_flex"></div>
                            <div class="courses_card d_flex"></div>
                            <div class="courses_card d_flex"></div>
                            <div class="courses_card d_flex"></div>
                            <div class="courses_card d_flex"></div>
                            <div class="courses_card d_flex"></div>
                        </div>
                        <button></button>
                    </div>
                </section>
                <!-- //courses section -->

                <!-- learning section -->
                <section>
                    <div class="learning_container d_flex">
                        <div class="title_section d_flex"></div>
                        <div class="img_section half_pg_picture"></div>
                        <div class="img_section half_pg_picture"></div>
                        <div class="title_section d_flex"></div>
                    </div>
                </section>
                <!-- //learning section -->

                <!-- events section -->
                <section>
                    <div class="main_events_container">
                        <div class="title_container"></div>
                        <div class="events_container d_flex">
                            <div class="events_card"></div>
                            <div class="events_card"></div>
                            <div class="events_card"></div>
                            <div class="events_card"></div>
                            <div class="events_card"></div>
                            <div class="events_card"></div>
                        </div>
                        <h4></h4>
                    </div>
                </section>
                <!-- //event section -->

                <!-- testimonial section -->
                <section>
                    <div class="main_testimonial_container">
                        <div class="title_container"></div>
                        <div class="testimonial_container d_flex">
                            <div class="testimonial_card d_flex"></div>
                            <div class="testimonial_card d_flex"></div>
                            <div class="testimonial_card d_flex"></div>
                            <div class="testimonial_card d_flex"></div>
                        </div>
                        <div class="dots"></div>
                        <div class="call_to_action d_flex">
                            <img src="" alt="">
                            <div class="action_title"></div>
                            <img src="" alt="">
                        </div>
                    </div>
                </section>
                <!-- //testimonial section -->


            </main>
            <!-- main container of website -->

            <!-- footer -->
            <footer>
                <div class="footer_container d_flex">
                    <div class="address_footer"></div>
                    <div class="col_footer"></div>
                    <div class="col_footer"></div>
                    <div class="col_footer"></div>
                </div>
                <h5></h5>
                <i></i>

            </footer>
            <!-- footer -->

        </div>
        <!-- //container vue istanza -->

        <!-- VueJs CDN -->
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
       
       <!-- link to javascript file -->
       <script src="assets/js/main.js"></script>
    </body>
</html>