<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
        <!-- favicon -->
        <link rel="icon" type="image/png" href="assets/img/favicon_270x270.png"/>
        <title>proj-html-vuejs</title>
    </head>
    <body>
        <!-- container vue istanza -->
        <div id="app">
            <div class="toggle d_flex">
                <a href=""><i class="fas fa-ruler-combined"></i></a>
                <a href=""><i class="far fa-futbol"></i></a>
                <a href=""><i class="fas fa-book"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
            </div>
            <header>
                
                <!-- navbar -->
                <div class="navbar d_flex">
                    <a href=""><img id="logo" src="assets/img/dark_logo.png" alt=""></a>

                    <nav class="nav_menu d_flex">
                        <ul class="menu_list d_flex" v-for="voice in menu">
                            <li class="voice_menu"><a href="">{{voice.voice}}<i class="fas fa-chevron-down"></i></a></li>
                            
                        </ul>

                    </nav>
                    <a href="#" class="notification">
                        <span><i class="fas fa-cart-plus cart"></i></span>
                        <span class="badge">0</span>
                      </a> 
                    <a href=""><i class="far fa-user-circle"></i></a>

                    <form class="search">
                        <input type="text" placeholder="Search...">
                        <a href=""><i class="fas fa-search"></i></a> 
                          
                    </form>
                </div>
                <!-- //navbar -->

                <!-- hero section -->
                <div class="hero_overlay d_flex">
                    <div class="hero_area d_flex">
                        <div class="title_hero d_flex">
                            <h1>Complete Your Dreams in JavaS Programming</h1>
                            <h4>Learn any coding program in distance and for a resonable fee. You dont'have to struggle alone, you've got our assistance and help.</h4>
                            <a href=""><button class="down_btn"><i class="fas fa-download"></i>Download free E-book</button></a>

                        </div>
                            <img class="img_hero" src="assets/img/section1_01.png" alt="">
                    </div>  
                </div>
                <!-- //hero section -->
            </header>
            <!-- main container of website -->
            <main>
                <!-- skills section -->
                <section class="grey">
                    <div class="main_skill_container ">
                        <div class="title_container d_flex">
                            <h5 class="common_title_h5"> Start learling code coding languages</h5>
                            <div class="double_color d_flex">
                                <h2 class="common_title_h2">Build Your Dream <b> TODAY </b></h2>     
                            </div>
                        </div>
                        <div class="skill_container d_flex">
                            <div class="skill_card d_flex" v-for="type in skill">
                                <img :src="type.picture" alt="">
                                <h4>{{type.title}}</h4>
                                <p>{{type.overview}}</p>
                                <p id="start_now"><a href="">Start now<i class="fas fa-arrow-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--//skills section -->
               
                <!-- quality section -->
                <section class="grey">
                    <div class="main_quality_container d_flex">
                        <div class="img_section half_pg_picture d_flex">
                            <img id="img_quality" src="assets/img/section3_01.png" alt="">
                            
                        </div>
                        <div class="title_section d_flex">
                            <h5 class="common_title_h5"> Dream with <b>maxcoach</b></h5>
                            <h2 class="common_title_h2">Construct A <b> Stunning</b> Career Perspective</h2>
                            
                            <div :class="item.hide?'block_active d_flex':'block_unactive d-flex'" v-for="(item,i) in quality">
                                <h4 class="d_flex">{{item.title}}<i v-if="item.hide" class="fas fa-minus-circle" @click="hideFunc(i)"></i><i v-else class="fas fa-plus-circle" @click="showFunc(i)"></i></h4> 
                                <p v-show="item.hide" class="d_flex">{{item.overview}}</p> 
         
                            </div>   
                        </div>
                    </div>
                </section>
                <!-- //quality section -->

                <!-- data section -->
                <section id="data_section">
                    <div class="data_row d_flex">
                        <div class="data_card d_flex" v-for="info in dataSection">
                            <h2>{{info.num}}</h2>
                            <h4>{{info.desc}}</h4>
                        </div>
                    </div>
                </section>
                <!-- //data section -->

                <!-- courses section -->
                <section class="overlay_courses d_flex">
                    <div class="bg_grey_round">
                        <div class="main_courses_container d_flex">
                            <div class="title_container_courses d_flex">
                                <h5 class="common_title_h5"> Choose where you'd like to begin</h5>
                                <div class="double_color d_flex">
                                    <h2 class="common_title_h2">Latest Featured <b> Courses </b></h2>     
                                </div>
                            </div>
                            <div class="courses_container d_flex">
                                <div class="courses_card d_flex" v-for="card in courses">
                                    
                                    <div class="img_container">
                                        <div class="price d_flex">{{card.price}} </div>
                                        <img class="courses_img" :src="card.picture" alt="">
                                        
                                    </div>
                                    <div class="info_container d_flex">
                                        <div>
                                            <h5>  <img :src="card.authorImg" class="authorImg" alt="">{{card.author}} </h5>
                                            
                                        </div>
                                        <h3>{{card.title}} </h3>
                                        <h6><i class="far fa-file"></i> {{card.lessons}} Lessons <i class="far fa-user"></i> {{card.students}} Students</h6>
                                    </div>
                                </div>
                                
                            </div>
                            <a href=""><button class="down_btn">View all courses <i class="fas fa-arrow-right"></i></button></a>
                        </div>
                    </div>
                </section>
                <!-- //courses section -->
                    
                <!-- learning section -->
                <section class="bg_white">
                    <div class="learning_container d_flex">
                        <div class="learning_card d_flex">
                            <div class="title_learn d_flex">
                                <h5 class="common_title_h5"> why hesitate to register?</h5>
                                <h2 class="common_title_h2">Learn At Your Own <b>  Pace </b></h2>
                            </div>
                            <div class="learning_option d_flex">
                                <p><i class="fas fa-check"></i> Select & customize courses to your preferences</p>
                                <p><i class="fas fa-check"></i> Change the tutor and make arrangements</p>
                                <p><i class="fas fa-check"></i> Participate in events to join others</p>
                                <p><i class="fas fa-check"></i> Get the desidered certificate delivereed at house</p>
                            </div>
                            <a href=""><button class="down_btn">Get started for free</button></a>
                        </div>
                        <div id="picture_half" class="img_section_grey half_pg_picture d_flex">
                            <img src="assets/img/section5_01.png" alt="">
                            <img id="dot_circle" src="assets/img/maxcoach_03.png" alt="">
                        </div>
                        <div id="picture_half2" class="img_section_grey half_pg_picture d_flex">
                            <img src="assets/img/section5_02.png" alt="">
                            <img src="assets/img/maxcoach_04.png" alt="">
                        </div>
                        
                        <div class="learning_card d_flex">
                            <div class="title_learn2 d_flex">
                                <h5 class="common_title_h5"> whate are you looking for?</h5>
                                <h2 class="common_title_h2">Learn on your <b>mobile </b> anytime!</h2>
                            </div>
                            
                            <p>Save lessons for late and revise or write notes at any time and on multiple devices on you way. Never interfere with activities of enjoyment or other precious moment.</p>
                        
                            <a href=""><button class="down_btn">Download Our App</button></a>
                        </div>
                        
                    </div>
                </section>
                <!-- //learning section -->

                <!-- events section -->
                <section class="white_radius">
                    <div class="main_events_container d_flex">
                        <div class="title_container_events d_flex">
                            <h5 class="common_title_h5"> get in contact now</h5>
                            <h2 class="common_title_h2">Upcoming <b>Events </b></h2>
                        </div>
                        <div class="events_container d_flex">
                            <div class="events_card d_flex" v-for="appointment in events">
                                <div class="left_card_side d_flex">
                                    <h5 class="location"><i class="fas fa-map-marker-alt"></i>{{appointment.location}} </h5>
                                    <h4 class="event">{{appointment.event}} </h4>
                                </div>
                                <div class="right_card_side d_flex">
                                    <h2 class="day common_title_h2_event"><b>{{appointment.day}}</b> </h2>
                                    <h5 class="month">{{appointment.month}} </h5>
                                    <a href=""><button class="down_btn_event">Get ticket</button></a>
                                </div>
                            </div>
                            
                        </div>
                        <h4 id="disclaimer">Excited about our event?<a href=""><b>View all events</b><i class="fas fa-arrow-right"></i></a></h4>
                    </div>
                </section>
                <!-- //event section -->

                <!-- testimonial section -->
                <section class="testimonial_overlay">
                    <div class="main_testimonial_container d_flex">
                        <div class="title_container_testimonial d_flex">
                            <h5 class="common_title_h5"> people are praising maxcoach</h5>
                            <h2 class="common_title_h2">What make they <b>love us </b></h2>
                        </div>
                        <div class="testimonial_container d_flex">
                            <div class="testimonial_card d_flex"  v-for="(card,i) in testimonials" :class="{active:card.select}">
                                <img class="testimonial_pic" :src="card.picture" alt="">
                                <p class="testimonial_overview">{{card.overview}} </p>
                                <h5 class="testimonial_name">{{card.name}} </h5>
                                <h6 class="testimonial_job">{{card.job}} </h6>
                            </div>    
                        </div>
                    </div>
                    <div class="dots d_flex">
                        <div class="dots_element" v-for="(dots,i) in testimonials">     
                            <i @click="activeFunc(i)" class="fas fa-circle" :class="{active:dots.select}"></i>   
                        </div>
                    </div>
                    <div class="call_to_action d_flex">
                        <img id="lines" src="assets/img/maxcoach_01.png" alt="">
                        <div class="action_title d_flex">
                            <h4>Start today for getting <b> Online Certification</b></h4>
                            <h3>You can be your own guiding star with our help!</h3>
                            <a href=""><button class="down_btn">Get starded now</button></a>
                        </div>
                        <img src="assets/img/maxcoach_02.png" alt="">
                    </div>
                </section>
                <!-- //testimonial section -->


            </main>
            <!-- main container of website -->

            <!-- footer -->
            <footer class="d_flex">
                <div class="footer_container d-flex">
                    <div class="column_footer d_flex">
                        <ul class="d_flex col_footer" v-for="info in footer">
                            <li class="footer_title"><h3>{{info.title}}</h3></li>
                            <li class="footer_voice"><a href="">{{info.voice}}</a></li>
                            <li class="footer_voice"><a href="">{{info.voice2}}</a></li>
                            <li class="footer_voice"><a href="">{{info.voice3}}</a></li>
                            <li class="footer_voice"><a href="">{{info.voice4}}</a></li>
                            <li class="footer_voice"><a href="">{{info.voice5}}</a></li>
                            <li class="footer_voice"><a href="">{{info.voice6}}</a></li>
                        </ul>
                        <div class="social_container d_flex">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </div>
                </div>
                
                <h5 id="copyright">&copy; 2020 Maxcoach. All Rights Reserved</h5>
                

            </footer>
            <!-- footer -->
            <i class="fas fa-arrow-up" id="page_up" @click="scrollFunc"></i>
        </div>
        <!-- //container vue istanza -->

        <!-- VueJs CDN -->
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
       
       <!-- link to javascript file -->
       <script src="assets/js/main.js"></script>
    </body>
</html>