/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Utility */
body{
    font-family: "lato";
    background-color: #f0efef;
}
#app{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
.d_flex{
display: flex;
}
header{
    background-color: #f0efef;
}
.grey{
    background-color: #f0efef; 
}
.common_title_h2{
    font-size: 2.6rem;
    color: #513e5e;
}
.common_title_h2 b{
    color: #22ad96;
    font-weight: 400;
    padding-left: 10px;
    font-size: 2.6rem;
    padding-top: 25px;
}
.common_title_h5{
    text-align: center;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
}
.toggle{
    position: fixed;
    top: 50%;
    right: 0;
    flex-direction: column;
    height: 140px;
    width: 35px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    color: #513e5e;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
} 
.active{
    transition: ease-in-out 0.5s;
    transform: scale(1.15);
    color: #22ad96; 
}


/* navbar */
.navbar{
    width: 1080px;
    height: 100px;
    margin: auto;
    background-color: #f0efef;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    width: 500px;
    height: 50px;
}
#logo{
    width: 150px;
    margin-right: 80px;
}
.menu_list{
    
    list-style: none;
    align-items: center;
    
}
.voice_menu a{
    text-transform: capitalize;
    text-decoration: none;
    color: grey;
    padding: 0 10px;
    font-size: 1rem;
}
.voice_menu:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.15); 
}
.voice_menu:hover a{
    color: #22ad96;
}
.fa-chevron-down{
    font-size: 0.5rem;
    padding-left: 5px;
}
.fa-cart-plus, .fa-user-circle{
    color: grey;
}
.fa-cart-plus:hover, .fa-user-circle:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.20);
    color: #22ad96;
}
.notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.notification .badge {
position: absolute;
top: 5px;
right: 15px;
padding: 2px 5px;
border-radius: 50%;
background: #22ad96;
color: white;
font-size: 0.7rem;

}
input{
    border: 1px solid white;
    height: 42px;
    width: 170px;
    border-radius: 5px;
    color: #f0efef;
    padding: 0 20px;
    font-size: 1rem;
}
input:focus {
    outline: none;
    border:1px solid white;  
}
.fa-search{
    position: sticky;
    top: 0;
    right: 20%;
    color: #22ad96;
}

/* hero section */
.hero_overlay{
    width: 100vw;
    height: 400px;
    background-image: url(../img/section1_overlay.svg);
    transform: scaleY(-1);
    margin-top: 200px; 
    justify-content: center;  
}
.hero_area{
    width: 1080px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    transform: scaleY(-1);
}
.title_hero{
    height: 550px;
    width: 350px;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 200px;  

}
.title_hero h1{
    font-size: 2.7rem;
    color: #513e5e;
}
.title_hero h4{
    font-size: 1rem;
    color: #513e5e;
    font-weight: 500;
    line-height: 25px;
}
.down_btn{
    height: 40px;
    width: 220px;
    border-radius: 5px;
    border: #22ad96;
    background-color: #22ad96;
    color: white;
    font-weight: 700;
}
.down_btn:hover{
    box-shadow: 0 0 10px grey;
    transition: ease-in-out 0.5s;
    transform: scale(1.10);
    background-color: #513e5e;
}

.fa-download{
    margin-right: 10px;
}
.img_hero{
    height: 570px;
    padding-bottom: 50px;   
}

/* skill section */
.main_skill_container{
    width: 1080px;
    margin:auto;
    height: 600px; 
}
.title_container{
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
}
.double_color{
    justify-content: center;
}
.skill_container{
    justify-content: space-around;
    align-items: center;
}
.skill_card{
    height: 340px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.skill_card p{
    font-size: 0.84rem;
    text-align: center;
    color: grey;
    line-height: 20px;
}
#start_now a{
    text-decoration: none;
    color: #b6b8d1;
    font-size: 0.8rem;
    font-weight: 800;
}
.fa-arrow-right{
    padding-left: 8px;
}

/* quality section */
.main_quality_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    padding-top: 50px;
    justify-content: space-around;
}
.img_section{
  background-image: url(../img/section3_underlay-shape-lilla.svg);  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;

}
#img_quality{
    height: 490px;
}
.title_section{
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    justify-content: space-evenly;
}
.block_active{
    flex-direction: column; 
    justify-content: space-evenly;
    box-shadow: 0 0 8px grey; 
    border-radius: 8px;
    
}
.block_unactive{
    flex-direction: column; 
    box-shadow: 0 0 8px grey;
    border-radius: 8px; 
}
.block_active h4{
    background-color: #22ad96;
    height: 50px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.block_active p{
    background-color: white;
    width: 500px;
    justify-content: center;
    align-items: center;
    color: grey;
    height: 150px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
    border-radius: 8px;
}
.block_unactive h4{
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 0 15px;
    
}
#block_three{
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 0 15px;
    
}
/* data section */
#data_section{
    background-color:#e8e8e8;
}
.data_row{
    width: 1080px;
    margin:auto;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.data_card{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}
.data_card h2{
    color: #22ad96;
    font-size: 2.5rem;
    font-weight: 800;
}
.data_card h4{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}

/* courses section */
.bg_grey_round{
    background-color: #f0efef;
    width: 100vw;
    height: 1200px;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    justify-content: center;  
}
.overlay_courses{
    background-color: white;
    width: 100vw;
    height: 1200px;
}
.title_container_courses{
    height: 150px;
    flex-direction: column;
    justify-content: space-evenly;
}
.main_courses_container{
    width: 1080px;
    margin:auto;
    height: 1200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.courses_container{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.courses_card{
    flex-direction: column;
    width: 320px;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;

}
.img_container{
    height: 200px;
    width: 320px;
    position: relative;
    border-radius: 5px;
}
.img_container:hover{
    box-shadow: 0 0 10px grey;
    transition: ease-in-out 0.5s;
    transform: scale(1.10); 
}
.courses_img{
    width: 320px;
    height: 200px;
    border-radius: 5px;   
}

.price{
    position: absolute;
    top:0;
    right: 0;
    background-color:#22ad96;
    width: 70px;
    height: 30px;
    border: #22ad96;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.info_container{
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: space-evenly;
}
.authorImg{
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
.courses_card i{
    margin: 0 10px;
}

/* learning section */
.bg_white{
    background-color: white;
    width: 100vw;
    height: 1200px;
}
.learning_container{
    width: 1080px;
    margin:auto;
    height: 1200px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}
.learning_card{
    height: 400px;
    width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
}
.title_learn{
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    justify-content: space-evenly;
}
.title_learn2{
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    justify-content: space-evenly;
}
.learning_option{
    height: 150px;
    width: 400px;
    flex-direction: column;
    justify-content: space-evenly;
}
.learning_option i{
    color: #22ad96;
    margin-right: 10px;
}
.img_section_grey{
    background-image: url(../img/section5_underlay-shape-grey.svg);  
    background-repeat: no-repeat;
    background-size: contain;
}
.half_pg_picture{
      width: 400px;
      height: 400px;   
}
#picture_half{
    align-items: center;
    width: 600px;
}
#picture_half2{
    align-items: flex-end;
}
#dot_circle {
    height: 150px;
} 

/* events section */
.white_radius{
    height: 900px;
    width: 100vw;
    background-color: white;
    border-bottom-right-radius: 500px;
}
.main_events_container{
    width: 1080px;
    margin:auto;
    height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.title_container_events{
    align-items: center;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
}
.events_container{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 550px;
}
.events_card{
    width: 500px;
    height: 150px;
    background-color: #f0efef;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}
.left_card_side{
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.location{
    height: 30px;
    color: grey;
    font-weight: 300;
}
.location i{
    margin-right: 10px;
}
.right_card_side{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.down_btn_event{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: #22ad96;
    background-color: #22ad96;
    color: white;
    font-weight: 700;
}
.common_title_h2_event b{
    color: #22ad96;
    font-weight: 300;
    height: 30px;
    font-size: 2.6rem;  
}
.month{
    height: 26px;
}
#disclaimer{
    height: 50px;
    color: grey;
}
#disclaimer b{
    color: #22ad96 ;
}
#disclaimer i{
    color: #22ad96 ;
    font-size: 0.8rem;
}
#disclaimer a{
    color: lightgray ;
}

/* testimonial section */
.testimonial_overlay{
    width: 100vw;
    margin:auto;
    height: 1000px;
    justify-content: center; 
    border-top-left-radius: -500px;
}
.main_testimonial_container{
    width: 1080px;
    margin:auto;
    height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.title_container_testimonial{
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 150px;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 50px;
}
.testimonial_container{
    width: 1080px;
    height: 600px;
    justify-content: space-around;

}
.testimonial_card{
    height: 320px;
    width: 320px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px darkgrey;
}
.dots{
    height: 60px;
    width: 150px;
    justify-content: space-evenly;
    color: darkgrey;
    flex-direction: row;
    margin: auto;
    margin-bottom: 40px;
    
}
.dots_element:hover i{
    color: #22ad96;
}
.testimonial_pic{
    border-radius: 50%;
    height: 120px;
    position: absolute;
    bottom:80%;
    box-shadow: 0 0 5px 5px grey;
}
.testimonial_overview{
    width: 250px;
    text-align: center;
    padding-top: 100px;
    
}
.testimonial_name{
    text-transform: uppercase;
}
.testimonial_job{
    color: darkgrey;
}
.call_to_action{
    
    margin: auto;
    width: 800px;
    align-items: center;
}
.action_title{
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}
.action_title h4{
    font-size: 1.4rem;
    color: #513e5e;
}
.action_title b{
    font-size: 1.4rem;
    color: #22ad96;
    font-weight: 400;
}
.action_title h3{
    font-size: 1.9rem;
    color: #513e5e;
    padding-bottom: 30px;
}
.call_to_action img{
    height: 100px;
}
#lines{
    height: 25px;
    width: 100px;
    display: flex;
}

footer{
  height: 350px;
  width: 100vw;  
  background-color: white; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_container{
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    height: 250px;
    
}
.column_footer{
    flex-wrap: wrap;
    align-items: center;  
}
.col_footer a {
    text-decoration: none;
    color: darkgrey;
}
.col_footer{
    list-style: none;
    flex-direction: column;
    width: 350px;
    height: 155px;
    flex-wrap: wrap;
    justify-content: center;   
}
.footer_title {
    text-transform: capitalize;
    padding-bottom: 10px;
    font-size: 0.9rem;   
}
.footer_voice {
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 0.8rem;
}
.social_container{
    background-color: white;
    margin: auto;
    width: 1080px;
 }
 .social_container i{
    color: grey;
    padding-right: 20px;
    font-size: 1.5rem;
    
 }
 #copyright{
     color: lightgrey;
 }

#page_up {
    /*display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #22ad96;
    border-radius: 100%;
    color: white; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 17px 20px; /* Some padding */
    font-size: 1.5rem; /* Increase font size */
    box-shadow: 0 0 10px grey;   
}
#page_up:hover {
    background-color: #513e5e; /* Add violet background on hover */
    box-shadow: 0 0 10px grey;
    transition: ease-in-out 0.5s;
}
  
  
