/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
body{
    font-family: "lato";
}
.d_flex{
display: flex;
}
header{
    background-color: #f0efef;
}

/* navbar */
.navbar{
    width: 1080px;
    height: 100px;
    margin: auto;
    background-color: #f0efef;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    width: 500px;
    height: 50px;
}
#logo{
    width: 150px;
    margin-right: 80px;
}
.menu_list{
    
    list-style: none;
    align-items: center;
    
}
.voice_menu a{
    text-transform: capitalize;
    text-decoration: none;
    color: grey;
    padding: 0 10px;
    font-size: 1rem;
}
.fa-chevron-down{
    font-size: 0.5rem;
    padding-left: 5px;
}
.fa-cart-plus, .fa-user-circle{
    color: grey;
}
input{
    border: 1px solid white;
    height: 42px;
    width: 170px;
    border-radius: 5px;
    color: #f0efef;
    padding: 0 20px;
    font-size: 1rem;
}
input:focus {
    outline: none;
    border:1px solid white;  
}
.fa-search{
    position: sticky;
    top: 0;
    right: 20%;
    color: #22ad96;
}

/* hero section */
.hero_overlay{
    width: 100vw;
    margin:auto;
    height: 400px;
    background-image: url(../img/section1_overlay.svg);
    transform: scaleY(-1);
    margin-top: 200px; 
    justify-content: center;  
}
.hero_area{
    width: 1080px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    transform: scaleY(-1);
}
.title_hero{
    height: 550px;
    width: 350px;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 200px;  

}
.title_hero h1{
    font-size: 2.7rem;
    color: #513e5e;
}
.title_hero h4{
    font-size: 1rem;
    color: #513e5e;
    font-weight: 500;
    line-height: 25px;
}
.down_btn{
    height: 40px;
    width: 220px;
    border-radius: 5px;
    border: #22ad96;
    background-color: #22ad96;
    color: white;
    font-weight: 700;
}

.fa-download{
    margin-right: 10px;
}
.img_hero{
    height: 550px;
    padding-bottom: 50px;   
}

.toggle{
    position: sticky;
    top: 100%;
    right: 0;
    flex-direction: column;
    height: 140px;
    width: 35px;
    transform: scaleY(-1);
    background-color: white;
    align-items: center;
    justify-content: space-around;
    color: #513e5e;
    border-radius: 5px;
} 

/* skill section */
.main_skill_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    
}
.title_container{
    height: 200px;

}
.title_container h5{
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    color: grey;
    font-weight: 400;
}
.title_container h2{
    font-size: 2.6rem;
}
.double_color{
    justify-content: center;
}

/* quality section */
.main_quality_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:green;
}

/* data section */
.data_row{
    width: 1080px;
    margin:auto;
    height: 200px;
    background-color:grey;
}

/* courses section */
.main_courses_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:black;
}

/* learning section */
.learning_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:pink;
}

/* events section */
.main_events_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:orange;
}

/* testimonial section */
.main_testimonial_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:olive;
}

footer{
    width: 1080px;
    margin:auto;
    height: 500px;
    background-color:azure;
}
