/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
body{
    font-family: "lato";
    background-color: #f0efef;
}
.d_flex{
display: flex;
}
header{
    background-color: #f0efef;
}
.common_title_h2{
    font-size: 2.6rem;
    color: #513e5e;
}
.common_title_h2 b{
    color: #22ad96;
    font-weight: 400;
    padding-left: 10px;
    font-size: 2.6rem;
    padding-top: 25px;
}
.common_title_h5{
    text-align: center;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
}

/* navbar */
.navbar{
    width: 1080px;
    height: 100px;
    margin: auto;
    background-color: #f0efef;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    width: 500px;
    height: 50px;
}
#logo{
    width: 150px;
    margin-right: 80px;
}
.menu_list{
    
    list-style: none;
    align-items: center;
    
}
.voice_menu a{
    text-transform: capitalize;
    text-decoration: none;
    color: grey;
    padding: 0 10px;
    font-size: 1rem;
}
.fa-chevron-down{
    font-size: 0.5rem;
    padding-left: 5px;
}
.fa-cart-plus, .fa-user-circle{
    color: grey;
}
input{
    border: 1px solid white;
    height: 42px;
    width: 170px;
    border-radius: 5px;
    color: #f0efef;
    padding: 0 20px;
    font-size: 1rem;
}
input:focus {
    outline: none;
    border:1px solid white;  
}
.fa-search{
    position: sticky;
    top: 0;
    right: 20%;
    color: #22ad96;
}

/* hero section */
.hero_overlay{
    width: 100vw;
    margin:auto;
    height: 400px;
    background-image: url(../img/section1_overlay.svg);
    transform: scaleY(-1);
    margin-top: 200px; 
    justify-content: center;  
}
.hero_area{
    width: 1080px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    transform: scaleY(-1);
}
.title_hero{
    height: 550px;
    width: 350px;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 200px;  

}
.title_hero h1{
    font-size: 2.7rem;
    color: #513e5e;
}
.title_hero h4{
    font-size: 1rem;
    color: #513e5e;
    font-weight: 500;
    line-height: 25px;
}
.down_btn{
    height: 40px;
    width: 220px;
    border-radius: 5px;
    border: #22ad96;
    background-color: #22ad96;
    color: white;
    font-weight: 700;
}

.fa-download{
    margin-right: 10px;
}
.img_hero{
    height: 550px;
    padding-bottom: 50px;   
}

.toggle{
    position: sticky;
    top: 100%;
    right: 0;
    flex-direction: column;
    height: 140px;
    width: 35px;
    transform: scaleY(-1);
    background-color: white;
    align-items: center;
    justify-content: space-around;
    color: #513e5e;
    border-radius: 5px;
} 

/* skill section */
.main_skill_container{
    width: 1080px;
    margin:auto;
    height: 600px; 
}
.title_container{
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
}
.double_color{
    justify-content: center;
}
.skill_container{
    justify-content: space-around;
    align-items: center;
}
.skill_card{
    height: 340px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.skill_card p{
    font-size: 0.84rem;
    text-align: center;
    color: grey;
    line-height: 20px;
}
#start_now a{
    text-decoration: none;
    color: #b6b8d1;
    font-size: 0.8rem;
    font-weight: 800;
}
.fa-arrow-right{
    padding-left: 8px;
}

/* quality section */
.main_quality_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    padding-top: 50px;
    justify-content: space-around;
}
.img_section{
  background-image: url(../img/section3_underlay-shape-lilla.svg);  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;

}
#img_quality{
    height: 490px;
}
.title_section{
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    justify-content: space-evenly;
}
.block_active{
    flex-direction: column; 
    justify-content: space-evenly; 
    
}
.block_unactive{
    flex-direction: column;  
}
.block_active h4{
    background-color: #22ad96;
    height: 50px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.block_active p{
    background-color: white;
    width: 500px;
    justify-content: center;
    align-items: center;
    color: grey;
    height: 150px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
}
.block_unactive h4{
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 0 15px;
    
}
#block_three{
    background-color: white;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 0 15px;
    
}
/* data section */
#data_section{
    background-color:silver;
}
.data_row{
    width: 1080px;
    margin:auto;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.data_card{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}
.data_card h2{
    color: #22ad96;
    font-size: 2.5rem;
    font-weight: 800;
}
.data_card h4{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}

/* courses section */
.main_courses_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:black;
}

/* learning section */
.learning_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:orangered;
}

/* events section */
.main_events_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:orange;
}

/* testimonial section */
.main_testimonial_container{
    width: 1080px;
    margin:auto;
    height: 600px;
    background-color:olive;
}

footer{
    width: 1080px;
    margin:auto;
    height: 500px;
    background-color:azure;
}
